<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.androiddevchallenge">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AndroidDevChallenge">
        <activity
                android:name=".ui.detail.PuppyActivity"
                android:theme="@style/Theme.AndroidDevChallenge.NoActionBar"
                android:screenOrientation="portrait"
                android:exported="true"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ui.list.PuppyListActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.AndroidDevChallenge.NoActionBar"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>